.contentContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    flex-wrap: wrap;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}

.title {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

.weeksContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

@media (max-width: 768px) {
    .contentContainer {
        padding-left: 10%;
        padding-right: 10%;
    }
}