.introSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;
    width: 80%;
}

.description {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    width: 60%;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1rem;
        width: 80%;
    }
}

.joinSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.joinText {
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.joinButton {
    background-color:  rgba(252, 180, 0, 0.8);
    color: #fff;
    border: none;
    border-radius: 99rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.joinButton:hover {
    background-color: #3E4D5E;
    background-color:  rgba(72, 127, 193, 0.8);
    color: #fff;
}