.introSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.title {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding-top: 1.5rem;
    width: 80%;
}

.description {
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    padding: 1.5rem 0;
    width: 60%;
}

.joinSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.joinText {
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.joinButton {
    background-color: #fff;
    color: #141D26;
    border: none;
    border-radius: 99rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}